body  {
	font-family: dinnextproregular,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 14px;
	background: #cacaca;
	text-align: justify;
	
}
.container_12{
	background: #fff;
	margin-right: 0px;
	margin-left: 0px;
	
}


.main {
	
	margin-top: 100px;
}
	
	
header{
	padding-bottom: 10px;
	background: white;
	padding-left: 0px;	
	margin-bottom: 0px;
	position: fixed;
	padding-top: 50px;
	width: 100%;
	font-family: 'Whitney' !important;

}


nav img {
	float: left;
	height: 50px;
	width: 50px;
	margin-right: 20px;
}
nav li {
	display: inline;
	margin-right: 10px;
	font-size: 20px;
	float: right;	
	margin-top: 15px;
}
.primary h2{
	text-align: center;
	background: #ec772D;
	color: white;
	width: 100%;
	margin-left: 0px;
	padding-right: 0px;

}


.bottom {
	text-align: center;
	background: #ec772D;
	padding-bottom: 0px;
}
.container{
	position: relative;
}

h1{
	float: left;
}
.paragraph2{
	padding-top: 20px;
	padding-right: 5px;
	margin-right: 5px;
	padding-bottom: 30px;
}


footer ul, footer li{
	list-style: none;
	display: inline;
	padding-right: 20px;

}
 a{
	text-decoration: none;
}
ul a:hover {
	text-decoration: underline;
	color: black;
}
.primary p{
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}
.first{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
}
#para{
	margin-left: 10px;
}

footer{
	background: white;
	text-align: center;
	height: 40px;
	color: black;
	font-family: 'Whitney' !important;


}

footer li{
	font-size: 20px;
}
.second{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.third{
	padding-top: 10px;
	margin-top: 50px;
	margin-bottom:10px;
}
.other{
	font-size: 25px;
	background: #fcefe3;
	padding-bottom: 135px;
	margin-left: 0px;
	padding-top: 60px;
	text-align: center;
	font-weight: bold;
	color: black;
}
.third img{
	margin-right: 0px;
}

.text{
	padding-right: 5px;
	width: 60px;
}
.text1{
	width: 200px;
}
.paragraph1 h3{
	text-align: center;
	
}